@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
	display: flex;
	justify-content: center; /* 수평 중앙 정렬 */
  	align-items: center;     /* 수직 중앙 정렬 */
  	width: 100%;
    height: 100%;
}
	.boxTitle{
	text-align: center;
	margin:10px;
	font-size: 25px;
	font-weight: bolder;
	}
	
	.loginBox{
    display: flex;
    flex-direction: row;
    align-items: center; /* 항목들을 세로 중앙에 정렬 */
    padding: 20px;
    border: 1px solid black; /* 검은색 경계선 추가하여 박스 확인 */
	}

	.idPwBox{
    display: flex;
    flex-direction: column; /* 내용물이 왼쪽부터 오른쪽으로 정렬 */
    justify-content: space-between; /* 아이템 사이에 공간을 균등하게 배분 */
    align-items: center; /* 항목들을 세로 중앙에 정렬 */
   	width: 100%; /* 박스의 너비를 100%로 설정 */
	}
	
	.ButtonBox {
	    margin-left: 10px; /* 요소 사이에 간격 추가 */
	    width: 100%;
	}
	
button, input{
	margin:10px;
	white-space: nowrap;
}