<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인페이지</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<div class="container">
		<form id="loginForm">
			<div class="loginBox">
				<div class="boxTitle">
				TodoList
				</div>
				<div class="idPwBox">
					<div class="idBox"> <input type="text" id="id" name="id" class="id" placeholder="아이디"/></div>
					<div class="pwBox">
					 <input type="password" id="pw" name="pw" class="pw" placeholder="비밀번호"/></div>
				</div>
				<div class="ButtonBox">
					<button type="button" onclick="login()">로그인</button>
					<br>
					<a href="/signupForm"><button type="button">회원가입</button></a>
				</div>
			</div>
		</form>
	</div>
<script src="/js/login.js"></script>
</body>
</html>